<!DOCTYPE html>
<html>
  <head>
    <title>Dichotics Inc</title>
    <%= stylesheet_link_tag 'tabs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'tabs', 'data-turbolinks-track': 'reload' %>



    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    

    <style id= "complied-css" type="text/css">
  .navbardrop::after{
    float:left;
  }
  </style>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
    <%= image_tag 'AUDIA_RGB_single_letter.png', style: "width: 70px", class:"d-inline-block"%>
    </a>
    <ul class="navbar-nav">
      <h4><small><li class='nav-item'>
        <%= link_to 'Calibrate', home_path, class: 'nav-link ' %></small></h4>
      </li>
      <li>
       <%#<%= image_tag 'AUDIA_RGB_LOGO.png', style: "width: 175px", class:"d-inline-block"%>
      </li>
        <h4><small><li class='nav-item'>
         <%= link_to 'Clients', clients_path, class: 'nav-link ' %></small></h4>
      </li>
</ul>

    <form class="d-flex" role="search">
      
</div>
      <% if user_signed_in? %>
      <div class="nav-item dropdown dropleft">
      <a class="nav-link btn btn-primary dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
         <h4 class= "text-white"><small><%= current_user.fname + " " + current_user.lname%></small></h4>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item"><%= link_to 'View all Users', users_path, class: 'text-white nav-link'%></a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, data: { turbo: false }, class: 'nav-link text-white text-decoration-none' %></a>
      </div>
    </div>
      
      <%else%>
    <div class="nav-item dropdown dropleft">
      <a class="nav-link btn btn-primary dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
         <h4 class= "text-white"><small>Users</small></h4>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item"><%= link_to 'View all Users', users_path, class: 'text-white nav-link'%></a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item"><%= link_to 'Sign In', new_user_session_path, class: "text-white nav-link #{active_class(new_user_session_path)}"%></a>
      </div>
    </div>
      <%end %>
    </form>
  </div>
</nav>
    <main role="main" class="container">
      <%= yield %>
    </main>
  </body>
</html>