<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'tabs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'tabs', 'data-turbolinks-track': 'reload' %>



    <title>RailsDemosNDeets2021App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/c6d6fb874e.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-xxl navbar-light bg-light">
      <a class="navbar-brand" href="/home">Dichotics Inc</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= active_class(home_path) %>">
            <%= link_to 'Calibrate', home_path, class: 'nav-link' %>
            <%= link_to 'Clinicians', clinicians_path, class: 'nav-link' %>
            <%= link_to 'Clients', clients_path, class: 'nav-link' %>
            <%= link_to 'Export Database', home_path, class: 'nav-link' %>
            <%= link_to 'Import Database', home_path, class: 'nav-link' %>
          </li>
        </ul>
        <ul class="navbar-nav">
          
        </ul>
      </div>
    </nav>
    <main role="main" class="container">
      <%= yield %>
    </main>
  </body>
</html>