<h1>Test type</h1>
<h1><%= @rddt_test.test_type%></h1>
<h1>left Score Single Buttons</h1>
<h1><%= @rddt_test.left_score1%></h1>
<h1>Right Score Single Buttons</h1>
<h1><%= @rddt_test.right_score1%></h1>
<h1>left Score 2 Button Pairs</h1>
<h1><%= @rddt_test.left_score2%></h1>
<h1>Right Score 2 Button Pairs</h1>
<h1><%= @rddt_test.right_score2%></h1>
<h1>left Score 3 Button Groups</h1>
<h1><%= @rddt_test.left_score3%></h1>
<h1>Right Score 3 Button Groups</h1>
<h1><%= @rddt_test.right_score3%></h1>
<h1>Ear Advantage</h1>
<h1><%= @rddt_test.ear_advantage%></h1>
<h1>Ear Advantage Score</h1>
<h1><%= @rddt_test.ear_advantage_score%></h1>
<h1>Interpretation</h1>
<h1><%= @rddt_test.interpretation%></h1>