<body id="defBG" class="bg-white center">
  <div id="whiteGrad" class="container p-5 my-3 w-100 bg-white border-0">
    <!-- Heading for clients page -->
    <h1 class="display-3" style='padding-bottom:20px'><strong>Users<strong></h1>

    <div  class="row mb-3">
      <!-- Search bar -->
      <div class="col-md-6">
        <%= form_with url: users_path, method: :get, local: true, class: 'form-inline' do %>
          <%= text_field_tag :query, params[:query], class: 'form-control mr-sm-2 rounded-pill', placeholder: 'Search users' %>
          <%= submit_tag "Search", class: "btn rounded-pill btn-outline-info my-2 my-sm-0" %>
        <% end %>
      </div>

      <!-- Link to add a new user -->
      <div class="col-md-6 text-right">
        <% if current_user.local_moderator? || current_user.global_moderator? %>
          <%= link_to 'Add New User', new_user_path, class: 'btn btn-primary btn-lg'%>
        <% end %>
      </div>
    </div>
    <% if @users.any? { |user| user.local_moderator? || user.global_moderator? } %>

    <h2>Moderators</h2>
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <% if user.local_moderator? || user.global_moderator? %>
            <tr>
              <td><%= user.fname %></td>
              <td><%= user.lname %></td>
              <td><%= user.email %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <% end %>

  <% if @users.any? { |user| user.regular_user? } %>
    <h2>Regular Users</h2>
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <% if user.regular_user? %>
            <tr>
              <td><%= user.fname %></td>
              <td><%= user.lname %></td>
              <td><%= user.email %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <% end %>

  </div>
</body>
