<body id= "defBG">
<div class="container p-5 my-3 w-100 border rounded bg-white ">



<h1 class= "display-5", style= 'padding-bottom:20px' ><strong><%= "Testing " + @client.first_name + " " + @client.last_name%></strong></h1>

<!--Test page for DWT LIST 4 Contains everything for completing and submitting a test  -->
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
<%= form_with model: [@client, @dwt_test], local: true do |f| %>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="form-group row">
        <label for="exampleLabel">Label</label>
          <%= f.text_field :label, class: "form-control", type: "text", id: "exampleLabel", value: "Dwt List Four" %>
      </div>
      <div class="form-group row">
        <label for="clientName">Client</label>
        <input class="form-control" type="text" id="clientName" placeholder="<%= @client.first_name + ' ' + @client.last_name %>" readonly>
      </div>
      <div class="form-group row">
        <label for="testType">Type</label>
        <input class="form-control" type="text" id="testType" placeholder="DWT" readonly>
      </div>
      <hr/>
      <div class="form-group row">
        <label for="conditionSelect">Condition</label>
        <select class="form-control" id="conditionSelect">
          <option>FreeRecall</option>
          <option>DirectedLeft</option>
          <option>DirectedRight</option>
        </select>
      </div>

      <hr/>
      <label for="Notes">Notes</label>
      <%= f.text_area :notes, class: 'form-control', rows: '3' %>
      <hr/>
      <!--AUDIO PLAYER FOR AUDIO FILES STORED IN ASSETS/AUDIO/ETC.MP3-->
      <audio controls>
        <source src="<%= asset_path('Track 05 Dichotic Words Test Track 4.mp3') %>" type="audio/mpeg">
      </audio>
      <hr/>
      <!--Table for ear advantage percentage that is calculated in the script-->
      <style>
          .left-column {
            background-color: lightblue;
          }
          
          .right-column {
            background-color: lightpink;
          }
          
          .ear-advantage {
            background-color: white;
          }
          
          .ear-advantage.positive {
            background-color: lightblue;
          }
          
          .ear-advantage.negative {
            background-color: lightpink;
          }
      </style>
      <p>Scores:</p>
      <table class="table table-sm table-bordered m1-4" style="max-width: 25rem;">
        <thead>
          <tr>
            <th scope="col">Pairs</th>
            <th scope="col">Left</th>
            <th scope="col">Right</th>
            <th scope="col">Ear Adv</th>
          </tr>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td class="left-column"><span id="column1-percent">0</span>%</p></td>
              <td class="right-column"><span id="column2-percent">0</span>%</td>
              <td class="ear-advantage"><span id="advantage-Diff">0</span>%</td>
            </tr>
            <tr>
              <th scope="row">2</th>
            </tr>
            <tr>
              <th scope="row">3</th>           
            </tr>
          </tbody>
        </thead>
      </table>
      <!--Table for ear advantage name that is calculated in the script and ear diagnosis/interpretation-->
      <label for="read-Only">Ear Advantage</label>
      <input class="form-control" type="text" id="read-Only" value="" readonly>
      <span hidden id="advantage-Name"></span>
      <label for="read-Only">Interpretation</label>
      <input class="form-control" type="text" id="read-Only-diag" value="" readonly>
      <span hidden id="Diagnosis"></span>
    </div>

    <style>
      /* Center buttons in the table cells */
      .btn-group-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%; /* Set the width to 100% to make buttons occupy the entire cell */
      }

      /* Make the font larger */
      .btn.btn-outline-primary {
        font-size: 16px; /* Adjust the font size as needed */
        /* Remove margin and min-width properties */
      }
    </style>   

    <div class="col-sm">
        <table class="table table-sm table-striped ml-4" style="max-width: 25rem;">
          <thead class="thead-dark">
            <tr>
              <th>Number</th>
              <th>Left</th>
              <th>Right</th>
            </tr>
          </thead>
          <tbody>
          <!-- Loop for table of words and creation of all buttons, only loops 25 times and creates table for buttons-->
            <% 25.times do |i| %>
              <% words = [
                ["Bar", "Head"],
                ["Box", "Shelf"],
                ["Will", "Pan"],
                ["Work", "Dive"],
                ["Knit", "Where"],
                ["Down", "Vase"],
                ["Food", "Judge"],
                ["Gas", "Sand"],
                ["Van", "Game"],
                ["Joke", "Need"],
                ["New", "Late"],
                ["Plate", "Rope"],
                ["Jar", "Fish"],
                ["First", "Black"],
                ["Voice", "Rose"],
                ["Bed", "Catch"],
                ["Couch", "Best"],
                ["Type", "Big"],
                ["Rain", "Mouse"],
                ["Cow", "Her"],
                ["Neat", "Rock"],
                ["Sing", "Plain"],
                ["Learn", "Dark"],
                ["Yell", "White"],
                ["Help", "Knee"]
                ] %>
              <tr>
                <td><%= i + 1 %></td>
                <td>
                  <div class="btn-group-toggle" data="buttons">
                    <label class="btn btn-outline-primary column1-button">
                      <input type="checkbox" name="column1[<%= i %>][]" value="1"> <%= words[i][0] %>
                    </label>
                  </div>
                </td>
                <td>
                  <div class="btn-group-toggle" data="buttons">
                    <label class="btn btn-outline-primary column2-button">
                      <input type="checkbox" name="column1[<%= i %>][]" value="2"> <%= words[i][1] %>
                    </label>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
          <!--Hidden table for submition items-->
        </table>
      
        <%= f.hidden_field :client_name, value: "Example user" %>
        <%= f.hidden_field :test_type, value: "DWT" %>
        <%= f.hidden_field :left_score, id: "left_score" %>
        <%= f.hidden_field :right_score, id: "right_score" %>
        <%= f.hidden_field :ear_advantage, id: "ear_advantage" %>
        <%= f.hidden_field :ear_advantage_score, id: "ear_advantage_score" %>
        <%= f.hidden_field :interpretation, id: "interpretation" %>

    
        <%= f.submit "Submit", class: "btn btn-primary btn-block", onclick: "populateHiddenFields()" %>
      
      <% end %>

      <div>
        <p><span hidden id="column1-count"></span></p>
        <p><span id="column1-percent"></span></p>
        <p><span hidden id="column2-count"></span></p>
        <p><span id="column2-percent"></span></p>
        <p><span id="advantage-Diff"></span></p>
      </div>



    <script>






    //function for keeping the buttons blue after being clicked
      const checkboxes = document.querySelectorAll('input[type="checkbox"]');

      checkboxes.forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
          const label = this.closest('label');
          if (this.checked) {
            label.classList.add('active');
          } else {
            label.classList.remove('active');
          }
        });
      });

      //script completes all logic for calculating diagnosis and ear advantage values, It updates the percentages and lists the ear diag and advantage
      // Get the toggle buttons and count elements
      const column1Buttons = document.querySelectorAll(".column1-button input[type='checkbox']");
      const column2Buttons = document.querySelectorAll(".column2-button input[type='checkbox']");
      const allButtons = document.querySelectorAll(".column1-button input[type='checkbox'], .column2-button input[type='checkbox']");
      const column1Count = document.getElementById("column1-count");
      const column2Count = document.getElementById("column2-count");
      const column1Percent = document.getElementById("column1-percent");
      const column2Percent = document.getElementById("column2-percent");
      const advantageDiff = document.getElementById("advantage-Diff");
      const advantageName = document.getElementById("advantage-Name");
      const testDiagnosis = document.getElementById("Diagnosis");
      const readOnly = document.getElementById("read-Only");
      const readOnlyDiag = document.getElementById("read-Only-diag");
      


      // Update the counts when a button is clicked
      
      allButtons.forEach(function(button) {
        button.addEventListener("click", function() {
        const checkedCount1 = document.querySelectorAll(".column1-button input[type='checkbox']:checked").length;
        const checkedCount2 = document.querySelectorAll(".column2-button input[type='checkbox']:checked").length;
        const totalCount1 = column1Buttons.length;
        const totalCount2 = column2Buttons.length;
        const percent1 = ((checkedCount1 / totalCount1) * 100).toFixed(2);
        const percent2 = ((checkedCount2 / totalCount2) * 100).toFixed(2);
        const advantage = (percent2 - percent1).toFixed(2);
        const avgPercent = ((+percent1 + +percent2) / 2).toFixed(2);

        let direction = null;
        let interpretation = null;
        let age = <%= @client.age_in_years %>;
        let dom = null;
        let nondom = null;
        if (advantage < 0) {
          direction = "Left";
          dom = percent1;
          nondom = percent2;
        } else if (advantage > 0) {
          direction = "Right";
          dom = percent2;
          nondom = percent1;
        } else {
          direction = "Neutral";
          }
// IF else logic for diagnosis based on the childs age. Still unsure if this works as intended accoring to Employer, but we believe it does
        if (age == 5 || age == 6){
          if (direction == "Neutral"){
            if (percent1 <= 44){
              interpretation = "Dichotic Dysaudia";
            }
            else{
              interpretation = "Within Normal Limits";
            }
          }
          else{
            if (((dom <= 64) || (nondom <= 44)) && ((advantage <= -32) || (advantage >= 32))){
              interpretation = "Amblyaudia + Dichotic Dysaudia";
            }
            else if ((dom <= 64) || (nondom <= 44)){
              interpretation = "Dichotic Dysaudia";
            }
            else if (((dom > 64) && (nondom > 44)) && (advantage <= -32)){
              interpretation = "Ambylaudia Left Ear Dominant";
            }
            else if (((dom > 64) && (nondom > 44)) && (advantage >= 32)){
              interpretation = "Ambylaudia Right Ear Dominant";
            }
            else{
              interpretation = "Within Normal Limits";
            }
          }            
        }
        if (age >= 7 && age <= 9){
          if (direction == "Neutral"){
            if (percent1 <= 60){
              interpretation = "Dichotic Dysaudia";
            }
            else{
              interpretation = "Within Normal Limits";
            }
          }
          else{
            if (((dom <= 76) || (nondom <= 60)) && ((advantage <= -24) || (advantage >= 24))){
              interpretation = "Amblyaudia + Dichotic Dysaudia";
            }
            else if ((dom <= 76) || (nondom <= 60)){
              interpretation = "Dichotic Dysaudia";
            }
            else if (((dom > 76) && (nondom > 60)) && (advantage <= -24)){
              interpretation = "Ambylaudia Left Ear Dominant";
            }
            else if (((dom > 76) && (nondom > 60)) && (advantage >= 24)){
              interpretation = "Ambylaudia Right Ear Dominant";
            }
            else{
              interpretation = "Within Normal Limits";
            }
          }          
        }
        if (age >= 10 && age <= 12){
          if (direction == "Neutral"){
            if (percent1 <= 72){
              interpretation = "Dichotic Dysaudia";
            }
            else{
              interpretation = "Within Normal Limits";
            }
          }
          else{
            if (((dom <= 84) || (nondom <= 72)) && ((advantage <= -20) || (advantage >= 20))){
              interpretation = "Amblyaudia + Dichotic Dysaudia";
            }
            else if ((dom <= 84) || (nondom <= 72)){
              interpretation = "Dichotic Dysaudia";
            }
            else if (((dom > 84) && (nondom > 72)) && (advantage <= -20)){
              interpretation = "Ambylaudia Left Ear Dominant";
            }
            else if (((dom > 84) && (nondom > 72)) && (advantage >= 20)){
              interpretation = "Ambylaudia Right Ear Dominant";
            }
            else{
              interpretation = "Within Normal Limits";
            }
          }
        }
        if (age >= 13 && age <= 15){
          if (direction == "Neutral"){
            if (percent1 <= 76){
              interpretation = "Dichotic Dysaudia";
            }
            else{
              interpretation = "Within Normal Limits";
            }
          }
          else{
            if (((dom <= 92) || (nondom <= 76)) && ((advantage <= -16) || (advantage >= 16))){
              interpretation = "Amblyaudia + Dichotic Dysaudia";
            }
            else if ((dom <= 92) || (nondom <= 76)){
              interpretation = "Dichotic Dysaudia";
            }
            else if (((dom > 92) && (nondom > 76)) && (advantage <= -16)){
              interpretation = "Ambylaudia Left Ear Dominant";
            }
            else if (((dom > 92) && (nondom > 76)) && (advantage >= 16)){
              interpretation = "Ambylaudia Right Ear Dominant";
            }
            else{
              interpretation = "Within Normal Limits";
            }
          }          
        }
        if (age >= 16 && age <= 18){
          if (direction == "Neutral"){
            if (percent1 <= 80){
              interpretation = "Dichotic Dysaudia";
            }
            else{
              interpretation = "Within Normal Limits";
            }
          }
          else{
            if (((dom <= 88) || (nondom <= 80)) && ((advantage <= -14) || (advantage >= 14))){
              interpretation = "Amblyaudia + Dichotic Dysaudia";
            }
            else if ((dom <= 88) || (nondom <= 80)){
              interpretation = "Dichotic Dysaudia";
            }
            else if (((dom > 88) && (nondom > 80)) && (advantage <= -14)){
              interpretation = "Ambylaudia Left Ear Dominant";
            }
            else if (((dom > 88) && (nondom > 80)) && (advantage >= 14)){
              interpretation = "Ambylaudia Right Ear Dominant";
            }
            else{
              interpretation = "Within Normal Limits";
            }
          }          
        }
        // Passes values to strings so they can be pushed to the html above
        column1Count.innerText = checkedCount1.toString();
        column1Percent.innerText = percent1.toString();
        column2Count.innerText = checkedCount2.toString();
        column2Percent.innerText = percent2.toString();
        advantageDiff.innerText = advantage.toString();
        advantageName.innerText = direction;
        testDiagnosis.innerText = interpretation;
        readOnly.value = advantageName.innerText;
        readOnlyDiag.value = testDiagnosis.innerText;

          // Get the ear advantage cells
          const earAdvantageCells = document.querySelectorAll('.ear-advantage');
          // Loop through each ear advantage cell
          earAdvantageCells.forEach(cell => {
            // Get the value of the cell
            const value = parseFloat(cell.textContent);

            // Check the value and set the background color accordingly
            if (value < 0) {
              cell.style.backgroundColor = 'lightblue';
            } else if (value > 0) {
              cell.style.backgroundColor = 'lightpink';
            } else {
              cell.style.backgroundColor = 'white';
            }
          });

        })
      })
     // gets the elements from hidden field submit above and populates them from the results in the script 
    function populateHiddenFields() {
      document.getElementById("left_score").value = column1Percent.innerText;
      document.getElementById("right_score").value = column2Percent.innerText;
      document.getElementById("ear_advantage").value = advantageName.innerText;
      document.getElementById("ear_advantage_score").value = advantageDiff.innerText;
      document.getElementById("interpretation").value = testDiagnosis.innerText;
    }

    </script>

    </div>
  </div>
</div>
</body>