<h1>Test type</h1>
<h1><%= @dwt_test.test_type%></h1>
<h1>left Score</h1>
<h1><%= @dwt_test.left_score%></h1>
<h1>Right Score</h1>
<h1><%= @dwt_test.right_score%></h1>
<h1>Ear Advantage</h1>
<h1><%= @dwt_test.ear_advantage%></h1>
<h1>Ear Advantage Score</h1>
<h1><%= @dwt_test.ear_advantage_score%></h1>
<h1>Interpretation</h1>
<h1><%= @dwt_test.interpretation%></h1>