<!-- Ruby on Rails view template for displaying client information and managing tests -->
<%= stylesheet_link_tag "tablesScroll" %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


 

<!-- Header section with client name and button to add new test -->
<body id="defBG">
    <%# <script>
    var = index;
    </script> %>

    

    <!-- Form for editing and saving client information -->

    <div class= "parent-container pt-5 my-1 w-150 ">
    <div class="row">
        <div class="col-sm-8">
          <h2 class="display-4">
          <!-- Display client name -->
          <strong><%= @client.first_name + " " + @client.last_name %></strong></h2>
        </div>
        <!-- Buttons and dropdowns to add new tests -->
        <div class="col-sm-4 d-flex justify-content-center">
          <button id="myBtn" class="btn btn-lg btn-block rounded-pill">Save</button>
        </div>
      </div>
      </div>
       <div class= "parent-container d-flex justify-content-center">
    <div class="container rounded p-5 my-3 w-100 border  bg-white border-primary">

      
      
    <div class= "row">
    <div class ="col">
 
      <%= bootstrap_form_with model: @client, id:"myForm" do |f| %>
      <h2 class="display-6" style="padding-bottom:20px"><strong>Details</strong></h2>
        <div class="row gx-5">


          <div class="col-md-6">
            <!-- Personal information fields -->
            
            <div class="form-group">
              <%= f.text_field :first_name, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.text_field :last_name, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.date_field :date_of_birth, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.email_field :email, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.text_field :mgmt_ref, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.select :gender, ['Male', 'Female', 'Other'], {}, class: "form-control" %>
            </div>
          </div>
          
          <div class="col-md-6">
            <!-- Address and phone number fields -->
            <div class="form-group">
              <%= f.text_field :address1, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.text_field :country, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.text_field :state, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.text_field :city, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.text_field :zip, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.text_field :phone1, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.text_field :phone2, class: "form-control" %>
            </div>


           <%# below is the script that allows the save button be outside the form's loop%>
           <script>
            $(document).ready(function() {
            $('#myBtn').on('click', function() { $('#myForm').submit(); });
                });
           </script>


          </div>




           
          <div class="col-md-12">
            <!-- Emergency contact information and buttons -->
           
            <h2 class="display-5" style="padding-bottom:20px"><strong>Emergency Contact Info</strong></h2>
            
            <%= link_to "Add Emergency Contact", new_client_emergency_contact_path(@client), class: "btn btn-primary rounded-pill btn-lg btn-block" %>
            <!-- Table of existing emergency contacts -->
            <div class="tableWrap">
            <table class="table table-striped ">
              <thead>
                <tr>
                  <th>Edit</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Phone #</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>State</th>

            </tr>
          </thead>
          <tbody>
            <!-- Iterate over each emergency contact and display its details -->
            <% @client.emergency_contacts.each do |contact| %>
              <tr>
              <td>
                  <!-- Link to edit emergency contact -->
                  <%= link_to edit_client_emergency_contact_path(@client, contact) do %>
                    <%= image_tag 'edit_icon.png', alt: 'Edit', width: 20 %>
                  <% end %>
                </td>
                <td><%= contact.first_name.present? ? contact.first_name : "&nbsp;".html_safe %></td>
                <td><%= contact.last_name.present? ? contact.last_name : "&nbsp;".html_safe %></td>
                <td><%= contact.phone_number.present? ? contact.phone_number : "&nbsp;".html_safe %></td>
                <td><%= contact.address.present? ? contact.address : "&nbsp;".html_safe %></td>
                <td><%= contact.city.present? ? contact.city : "&nbsp;".html_safe %></td>
                <td><%= contact.state.present? ? contact.state : "&nbsp;".html_safe %></td>
                
                
              </tr>
            <% end %>
          </tbody>
        </table>

      <%end%>
              </div>
      </div>
      </div>
    </div>
  </div>
  </div>
  
  




<!-- Tests section with button to add new test and table of existing tests -->
 
    <div class="container rounded border bg-white p-5 my-3 w-100 border-primary">
     <div class ="col">
      <div class="col-md-12">
        <h2 class="display-5" style="padding-bottom:20px"><strong>Tests</strong></h2>
        <!-- Buttons and dropdowns to add new tests -->
        <div class="container">
          <div class="row">
              <button class="btn btn-primary rounded-pill btn-block btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                Add Evaluation
                </button>
              <div class="dropdown-menu">
              <h5 class="dropdown-header">Add DWT Test</h5>
                <a class="dropdown-item"> <%= link_to 'List 1', dwt_list1_client_dwt_tests_path(@client) %></a>
                <a class="dropdown-item"> <%= link_to 'List 2', dwt_list2_client_dwt_tests_path(@client) %></a>
                <a class="dropdown-item"> <%= link_to 'List 3', dwt_list3_client_dwt_tests_path(@client) %></a>
                <a class="dropdown-item"> <%= link_to 'List 4', dwt_list4_client_dwt_tests_path(@client) %></a>          
              <%# </div>
              </div>
              <div class="col-sm-4">
                <button class="btn btn-primary btn-block btn-lg dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Add RDDT Test
                </button> %>
                <h5 class="dropdown-header">Add RDDT Test</h5>
                  <a class="dropdown-item"> <%= link_to 'List 1', rddt_list1_client_rddt_tests_path(@client) %></a>
                  <a class="dropdown-item"> <%= link_to 'List 2', rddt_list2_client_rddt_tests_path(@client) %></a>         
                <%# </div>
              </div>
              <div class="col-sm-4">
                <button class="btn btn-primary btn-block btn-lg dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Add DNW Test
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3"> %>
                <h5 class="dropdown-header">Add DNW Test</h5>
                  <a class="dropdown-item"> <%= link_to 'List 1', dnw_list1_client_dnw_tests_path(@client) %></a>
                  <a class="dropdown-item"> <%= link_to 'List 2', dnw_list2_client_dnw_tests_path(@client) %></a>
                  <a class="dropdown-item"> <%= link_to 'List 3', dnw_list3_client_dnw_tests_path(@client) %></a>
                  <a class="dropdown-item"> <%= link_to 'List 4', dnw_list4_client_dnw_tests_path(@client) %></a>             
                </div>
          </div>
        </div>
      </div>
    <!-- Table of existing tests -->

  <div class="tableWrap">
    <table id="tableID">
      <thead>
        <tr>
          <th>ID</th>
          
          <th>Test Giver</th>
          <th>Test Type</th>
          <th>Left Score</th>
          <th>Right Score</th>
          <th>Ear Advantage</th>
          <th>Ear Advantage Score</th>

        </tr>
      </thead>
      <tbody>
        <!-- Iterate over each test and display its details -->
        <% @client.dwt_tests.each do |dwt_test, index| %>
          <tr>
            <td class="btn btn-link" data-toggle="collapse" href="#collapseExample<%index.to_s%>" role="link" aria-expanded="false" aria-controls="collapseExample">
            <%= link_to dwt_test.id, client_dwt_test_path(@client, dwt_test) %></td>
            
            <td><%= dwt_test.user.fname %> <%= dwt_test.user.lname %></td>
            <td><%= dwt_test.test_type %></td>
            <td><%= dwt_test.left_score %></td>
            <td><%= dwt_test.right_score %></td>
            <td><%= dwt_test.ear_advantage %></td>
            <td><%= dwt_test.ear_advantage_score %></td>
          </tr>
        <% end %>
        <% @client.dnw_tests.each do |dnw_test, index| %>
          <tr>
            <td class="btn btn-link" data-toggle="collapse" href="#collapseExample<%index.to_s%>" role="link" aria-expanded="false" aria-controls="collapseExample">
            <%= link_to dnw_test.id, client_dnw_test_path(@client, dnw_test) %></td>
            
            <td><%= dnw_test.user.fname %> <%= dnw_test.user.lname %></td>
            <td><%= dnw_test.test_type %></td>
            <td><%= dnw_test.left_score %></td>
            <td><%= dnw_test.right_score %></td>
            <td><%= dnw_test.ear_advantage %></td>
            <td><%= dnw_test.ear_advantage_score %></td>
          </tr>
        <% end %>
        <% @client.rddt_tests.each do |rddt_test, index| %>
          <tr>
            <td class="btn btn-link" data-toggle="collapse" href="#collapseExample<%index.to_s%>" role="link" aria-expanded="false" aria-controls="collapseExample">
            <%= link_to rddt_test.id, client_rddt_test_path(@client, rddt_test) %></td>
            
            <td><%= rddt_test.user.fname %> <%= rddt_test.user.lname %></td>
            <td><%= rddt_test.test_type %></td>
            <td><%= rddt_test.left_score2 %></td>
            <td><%= rddt_test.right_score2 %></td>
            <td><%= rddt_test.ear_advantage %></td>
            <td><%= rddt_test.ear_advantage_score %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% @client.dwt_tests.each do |dwt_test, index| %>
  <div class="collapse" id="collapseExample<%index.to_s%>">
   <%= dwt_test.user.fname %>
  </div>
<% end %>
<% @client.dnw_tests.each do |dnw_test, index| %>
  <div class="collapse" id="collapseExample<%index.to_s%>">
   <%= dnw_test.user.fname %>
  </div>
<% end %>
<% @client.rddt_tests.each do |rddt_test, index| %>
  <div class="collapse" id="collapseExample<%index.to_s%>">
   <%= rddt_test.user.fname %>
  </div>
<% end %>
    </table>
  </div>

  
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</body>