

<div class="tabs-container">
  <div class="tab active" id="users-tab" data-tab="users-content">Edit</div>
  <div class="tab" id="new-client-tab" data-tab="new-client-content">Testing</div>
</div>

<div class="tab-content-container">
  <div class="tab-content active" id="users-content">
  <head>
  <%= stylesheet_link_tag 'application', 'users' %>

  
<h1>Edit client</h1>

<%= bootstrap_form_with model: @client do |f| %>
  <div class="row">
  
    <div class="col-md-6">
      <div class="form-group">

      
        <%= f.text_field :first_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.text_field :last_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.date_field :date_of_birth, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.text_field :mgmt_ref, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.select :gender, ['Male', 'Female', 'Other'], {}, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= f.text_field :address1, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.text_field :country, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.text_field :state, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.text_field :city, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.text_field :zip, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.text_field :phone1, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.text_field :phone2, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-12">
      <h2>Emergency Contact Info</h2>
      <%= link_to "Add Emergency Contact", new_client_emergency_contact_path(@client), class: "btn btn-primary" %>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone #</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Edit</th>
            <th>Delete</th>

          </tr>
        </thead>
          <tbody>
            <% @client.emergency_contacts.each do |contact| %>
              <tr>
                <td><%= contact.first_name.present? ? contact.first_name : "&nbsp;".html_safe %></td>
                <td><%= contact.last_name.present? ? contact.last_name : "&nbsp;".html_safe %></td>
                <td><%= contact.phone_number.present? ? contact.phone_number : "&nbsp;".html_safe %></td>
                <td><%= contact.address.present? ? contact.address : "&nbsp;".html_safe %></td>
                <td><%= contact.city.present? ? contact.city : "&nbsp;".html_safe %></td>
                <td><%= contact.state.present? ? contact.state : "&nbsp;".html_safe %></td>
                <td>
                  <%= link_to edit_client_emergency_contact_path(@client, contact) do %>
                    <%= image_tag 'edit_icon.png', alt: 'Edit', width: 20 %>
                  <% end %>
                </td>
                <td>


                  <%= link_to client_emergency_contact_path(@client, contact), method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <%= image_tag 'delete_icon.png', alt: 'Delete', width: 20 %>
                  <% end %>
                </td>


              </tr>
            <% end %>
          </tbody>
      </table>

    </div>

 
    <%= f.submit "Save" %>
<% end %>
      <%= link_to "Add Test", new_client_test_path(@client), class: "btn btn-primary" %>

  <%= render partial: "tests/index", locals: { client: @client } %>
    



  </div>
  <div class="tab-content" id="new-client-content">
  <%= render partial: "tests/index", locals: { client: @client } %>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const tabs = document.querySelectorAll(".tab");

    tabs.forEach((tab) => {
      tab.addEventListener("click", function(event) {
        const tabId = event.target.getAttribute("data-tab");

        // Remove active class from all tabs and tab content
        tabs.forEach((t) => t.classList.remove("active"));
        document.querySelectorAll(".tab-content").forEach((tc) => tc.classList.remove("active"));

        // Add active class to the clicked tab and its content
        event.target.classList.add("active");
        document.getElementById(tabId).classList.add("active");
      });
    });
  });
</script>






