<h1>Global Moderator View</h1>
<%= link_to 'Download CSV', global_moderator_index_path(format: "csv"), class: 'btn btn-secondary mb-3' %>

<table>
  <thead>
    <tr>
      <th>Gender</th>
      <th>Age</th>
      <th>City</th>
      <th>Country</th>
      <th>State</th>
      <th>Race</th>
      <th>Ear Advantage</th>
      <th>Ear Advantage Score</th>
      <th>Left Score</th>
      <th>Right Score</th>
      <th>Edit</th> <!-- Add a new column for the Edit button -->
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <% client.dwt_tests.each do |dwt_test| %>
        <tr>
          <td><%= client.gender %></td>
          <td><%= client.age_in_years %></td>
          <td><%= client.city %></td>
          <td><%= client.country %></td>
          <td><%= client.state %></td>
          <td><%= client.race %></td>
          <td><%= dwt_test.ear_advantage %></td>
          <td><%= dwt_test.ear_advantage_score %></td>
          <td><%= dwt_test.left_score %></td>
          <td><%= dwt_test.right_score %></td>
          <td><%= link_to "Edit", edit_client_path(client) %></td> <!-- Add the Edit button link -->
        </tr>
      <% end %>
      <% client.dnw_tests.each do |dnw_test| %>
        <tr>
          <td><%= client.gender %></td>
          <td><%= client.age_in_years %></td>
          <td><%= client.city %></td>
          <td><%= client.country %></td>
          <td><%= client.state %></td>
          <td><%= client.race %></td>
          <td><%= dnw_test.ear_advantage %></td>
          <td><%= dnw_test.ear_advantage_score %></td>
          <td><%= dnw_test.left_score %></td>
          <td><%= dnw_test.right_score %></td>
          <td><%= link_to "Edit", edit_client_path(client) %></td> <!-- Add the Edit button link -->
        </tr>
      <% end %>
      <% client.rddt_tests.each do |rddt_test| %>
        <tr>
          <td><%= client.gender %></td>
          <td><%= client.age_in_years %></td>
          <td><%= client.city %></td>
          <td><%= client.country %></td>
          <td><%= client.state %></td>
          <td><%= client.race %></td>
          <td><%= rddt_test.ear_advantage %></td>
          <td><%= rddt_test.ear_advantage_score %></td>
          <td><%= rddt_test.left_score %></td>
          <td><%= rddt_test.right_score %></td>
          <td><%= link_to "Edit", edit_client_path(client) %></td> <!-- Add the Edit button link -->
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
