

<div class="tabs-container">
  <div class="tab active" id="users-tab">Users</div>
  <div class="tab" id="new-client-tab">New Client</div>
</div>

<div class="tab-content-container">
  <div class="tab-content active" id="users-content">
  <head>
  <%= stylesheet_link_tag 'application', 'users' %>
</head>
<h1>Clients</h1>
<table>
  <thead>
    <tr>
      <th>Edit</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Date of Birth</th>
      <th>Phone</th>
      <th>Address</th>
      <th>City</th>
      <th>Country</th>
      <th>State</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |user| %>
      <tr>
      <td>
        <%= link_to edit_client_path(user) do %>
          <%= image_tag 'edit_icon.png', alt: 'Edit',width: 20 %>
        <% end %>
      </td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.gender %></td>
        <td><%= user.email %></td>
        <td><%= user.date_of_birth %></td>
        <td><%= user.phone1 %></td>
        <td><%= user.address1 %></td>
        <td><%= user.city %></td>
        <td><%= user.country %></td>
        <td><%= user.state %></td>
        <td>
          <%= link_to client_path(user), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= image_tag 'delete_icon.png', alt: 'Delete', width: 20 %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


  </div>
  <div class="tab-content" id="new-client-content">
    <%= render 'new' %> 
  </div>
</div>



