<body id= "leftRightGrad" class="bg-white center">
  <div id="whiteGrad" class="container p-5 my-3 w-100 bg-white border-0">
    <!-- Heading for clients page -->
    <h1 class="display-2" style='padding-bottom:20px'><strong>Clients<strong></h1>
    
    <div class="row mb-3">
      <div class="col-md-6">
        <%= form_with url: clients_path, method: :get, local: true, class: 'form-inline' do %>
          <%= text_field_tag :query, params[:query], class: 'form-control mr-sm-2 rounded-pill', placeholder: 'Search clients' %>
          <%= submit_tag "Search", class: "btn rounded-pill btn-outline-info my-2 my-sm-0" %>
        <% end %>
      </div>

    <div class="col-md-6 text-right">
        <%= link_to 'Add New Client', new_client_path, class: 'btn btn-primary rounded-pill btn-lg'%>

      </div>
    </div>
    <%= link_to 'Download CSV', clients_path(format: "csv"), class: 'btn btn-secondary mb-3' %>
   
    <div class="justify-content-center">
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th>Edit</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Gender</th>
              <th>Email</th>
              <th>Date of Birth</th>
              <th>Phone</th>
              <th>Address</th>
              <th>tenant_id</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% @clients.each do |user| %>
              <tr>
                <td>
                  <%= link_to edit_client_path(user) do %>
                    <%= image_tag 'edit_icon.png', alt: 'Edit',width: 20 %>
                  <% end %>
                </td>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.gender %></td>
                <td><%= user.email %></td>
                <td><%= user.date_of_birth %></td>
                <td><%= user.phone1 %></td>
                <td><%= user.address1 %></td>
                <td><%= user.tenant_id %></td>
                <td>
                  <%= link_to client_path(user), method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <%= image_tag 'delete_icon.png', alt: 'Delete', width: 20 %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
