<body class= "bg-light center">
<div class="container p-5 my-3 w-100 border rounded bg-white border-0 ">
<h1 class= "display-3", style= 'padding-bottom:20px' ><strong>New Client</strong></h1> 

<%= bootstrap_form_with url: clients_path, local: true do |f| %>

  <%= f.fields :client, model: @client do |client_fields| %>
<%= f.submit "Save", class: "btn btn-block btn-secondary" %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= client_fields.text_field :first_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= client_fields.text_field :last_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= client_fields.date_field :date_of_birth, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= client_fields.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= client_fields.text_field :mgmt_ref, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= client_fields.select :gender, ['Male', 'Female', 'Other'], {}, class: "form-control" %>
      </div>
 
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= client_fields.text_field :address1, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= client_fields.text_field :country, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= client_fields.text_field :state, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= client_fields.text_field :city, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= client_fields.text_field :zip, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= client_fields.text_field :phone1, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= client_fields.text_field :phone2, class: "form-control" %>
      </div>

    </div>

<div class="col-md-12">
        <h2 class= "display-4", style= 'padding-bottom:20px' ><strong>Emergency Contact Info</strong></h2>
      </div>

      <div class="col-md-6">

        <%= client_fields.fields_for :emergency_contacts do |ec| %>
          <div class="form-group">
            <%= ec.text_field :first_name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= ec.text_field :last_name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= ec.text_field :phone_number, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= ec.text_field :address, class: "form-control" %>
          </div>
      </div>
      
      <div class="col-md-6">
          <div class="form-group">
            <%= ec.text_field :email, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= ec.text_field :city, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= ec.text_field :state, class: "form-control" %>
          </div>
            <%= f.submit "Save", class: "btn btn-block btn-secondary" %>
      </div>
      </div>
        <% end %>

    </div> <!-- This is the closing tag for the main "row" div -->


  <% end %>
<% end %>
</div>
</body>

