<body>
<h1>Global Moderator View</h1>
<%= link_to 'Download CSV', global_moderator_index_path(format: "csv"), class: 'btn btn-secondary mb-3' %>

<!--Filter options-->
    <div class="row mb-3">
      <div class="col-md-6">
        <%= search_form_for @q, url: global_moderator_index_path, method: :get, local: true, class: 'form-inline' do |f| %>
          <%= f.search_field :first_name_or_last_name_cont, class: 'form-control mr-sm-2 rounded-pill' ,
            placeholder: 'Filter by name' %>
            <%= f.search_field :address1_or_state_or_city_or_country_or_zip_cont,
              class: 'form-control mr-sm-2 rounded-pill' , placeholder: 'Filter by location' %>
              <%= f.submit "Search" , class: "btn rounded-pill btn-outline-info my-2 my-sm-0" %>
                <% end %>
                  <!-- Filter Button -->
                  <button type="button" id="filterButton" class="btn btn-secondary rounded-pill mr-sm-2">Filter
                    Options</button>
      </div>

      <!-- The filter modal -->
      <div class="modal" id="filterModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Filter Options</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Additional Filters Below</p>

              <%= search_form_for @q, url: global_moderator_index_path, method: :get, local: true, class: 'form-inline' do |f| %>
                <!--Filter button for date-->
                <div class="row mb-2">
                  <div class="col-md-4">
                    <label for="from_date">From Date:</label>
                  </div>
                  <div class="col-md-8">
                    <%= f.date_field :created_at_gteq, { class: 'form-control sort-select'} %>
                  </div>
                </div>
                <!--Filter button for name-->
                <div class="row mb-2">
                  <div class="col-md-4">
                    <label for="from_name">Name:</label>
                  </div>
                  <div class="col-md-8">
                    <%= f.select :sort_by_name, [['None', nil], ['First Name (A-Z)', 'first_name asc' ], ['First Name
                      (Z-A)', 'first_name desc' ], ['Last Name (A-Z)', 'last_name asc' ], ['Last Name
                      (Z-A)', 'last_name desc' ]], { selected: params[:q]&.dig(:sort_by_name) }, {
                      class: 'form-control sort-select' , id: 'sort-by-name-select' , data: {
                      button_id: 'filterButtonName' } } %>
                  </div>
                </div>
                <!--Filter button for client-->
                <div class="row mb-2">
                  <div class="col-md-4">
                    <label for="from_client">Client:</label>
                  </div>
                  <div class="col-md-8">
                    <%= f.select :sort_by_client, [['None', nil], ['Client Created (newest first)', 'created_at desc' ],
                      ['Client Created (oldest first)', 'created_at asc' ]], { selected:
                      params[:q]&.dig(:sort_by_client) }, { class: 'form-control sort-select' , data: {
                      button_id: 'filterButtonClient' } } %>
                  </div>
                </div>
                <!--Filter button for date of birth-->
                <div class="row mb-2">
                  <div class="col-md-4">
                    <label for="from_date_birth">Date of Birth:</label>
                  </div>
                  <div class="col-md-8">
                    <%= f.select :sort_by_date_birth, [['None', nil], ['Date of Birth (newest
                      first)', 'date_of_birth desc' ], ['Date of Birth (oldest first)', 'date_of_birth asc' ]],
                      {selected: params[:q]&.dig(:sort_by_date_birth)}, { class: 'form-control sort-select' , data: {
                      button_id: 'filterButtonDateofBirth' } } %>
                  </div>
                </div>
                <!--Filter option below is broken will need to fix later for age filtering, FIX ME-->
                <!--
                <div class="row mb-2">
              <div class="col-md-4">
                <label for="from_age">Age Range:</label>
              </div>
               <div class="col-md-8">
                <%= f.number_field :age_gteq,  class: 'form-control', placeholder: 'Min Age' %>
                <%= f.number_field :age_eq, class: 'form-control', placeholder: 'target Age' %>
                <%= f.number_field :age_lteq, class: 'form-control', placeholder: 'Max Age' %>
              </div>
            </div>
            -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn rounded-pill btn-outline-info my-2 my-sm-0" id="resetFiltersButton">Reset
                Filters</button>
              <%= f.submit "Apply Filter" , class: "btn rounded-pill btn-outline-info my-2 my-sm-0" %>
                <button type="button" class="btn rounded-pill btn-outline-info my-2 my-sm-0"
                  data-dismiss="modal">Close</button>
                <% end %>
            </div>
          </div>
        </div>
      </div>

      <!-- JS functionality for the modal-->
      <%= javascript_include_tag 'modalControlGlobalModeratorIndex.js' %>

<table>
  <thead>
    <tr>
      <th>Test Type</th>
      <th>Gender</th>
      <th>Age</th>
      <th>City</th>
      <th>Country</th>
      <th>State</th>
      <th>Race</th>
      <th>Ear Advantage</th>
      <th>Ear Advantage Score</th>
      <th>Left Score</th>
      <th>Right Score</th>
      <th>Edit</th> <!-- Add a new column for the Edit button -->
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <% client.dwt_tests.each do |dwt_test| %>
        <tr>
          <td>DWT</td>
          <td><%= client.gender %></td>
          <td><%= client.age_in_years %></td>
          <td><%= client.city %></td>
          <td><%= client.country %></td>
          <td><%= client.state %></td>
          <td><%= client.race %></td>
          <td><%= dwt_test.ear_advantage %></td>
          <td><%= dwt_test.ear_advantage_score %></td>
          <td><%= dwt_test.left_score %></td>
          <td><%= dwt_test.right_score %></td>
          <td><%= link_to "Edit", edit_client_path(client) %></td> <!-- Add the Edit button link -->
        </tr>
      <% end %>
      <% client.dnw_tests.each do |dnw_test| %>
        <tr>
          <td>DNW</td>
          <td><%= client.gender %></td>
          <td><%= client.age_in_years %></td>
          <td><%= client.city %></td>
          <td><%= client.country %></td>
          <td><%= client.state %></td>
          <td><%= client.race %></td>
          <td><%= dnw_test.ear_advantage %></td>
          <td><%= dnw_test.ear_advantage_score %></td>
          <td><%= dnw_test.left_score %></td>
          <td><%= dnw_test.right_score %></td>
          <td><%= link_to "Edit", edit_client_path(client) %></td> <!-- Add the Edit button link -->
        </tr>
      <% end %>
      <% client.rddt_tests.each do |rddt_test| %>
        <tr>
          <td>RDDT</td>
          <td><%= client.gender %></td>
          <td><%= client.age_in_years %></td>
          <td><%= client.city %></td>
          <td><%= client.country %></td>
          <td><%= client.state %></td>
          <td><%= client.race %></td>
          <td><%= rddt_test.ear_advantage %></td>
          <td><%= rddt_test.ear_advantage_score %></td>
          <td><%= [rddt_test.left_score1,rddt_test.left_score2,rddt_test.left_score3] %></td>
          <td><%= [rddt_test.right_score1,rddt_test.right_score2,rddt_test.right_score3] %></td>
          <td><%= link_to "Edit", edit_client_path(client) %></td> <!-- Add the Edit button link -->
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</body>

</div>

<!--Left this here for testing purposes. Can delete when data from up above is showing.-->
 <!--Designs the table for the following columns from Client model where data will be displayed
    <div class="justify-content-center">
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th>Edit</th>
              <th>Email</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Gender</th>
              <th>Age</th>
              <th>Date of Birth</th>
              <th>Phone</th>
              <th>Address</th>
              <th>Country</th>
              <th>State</th>
              <th>City</th>
              <th>Zip</th>
              <th>Client ID</th>
              <th>Tenant_ID</th>
              <th>Client Created</th>
              <th>Delete</th>
            </tr>
          </thead>
          
          Take data from the Client model database and show it in the table
          <tbody>
            <% @clients.each do |client| %>
              <tr>
                <td>
                  <%= link_to edit_client_path(client) do %>
                    <%= image_tag 'edit_icon.png' , alt: 'Edit' ,width: 20 %>
                      <% end %>
                </td>
                <td>
                  <%= client.email %>
                </td>
                <td>
                  <%= client.first_name %>
                </td>
                <td>
                  <%= client.last_name %>
                </td>
                <td>
                  <%= client.gender %>
                </td>
                <td>
                  <%= client.age_in_years %>
                </td>
                <td>
                  <%= client.date_of_birth %>
                </td>
                <td>
                  <%= client.phone1 %>
                </td>
                <td>
                  <%= client.address1 %>
                </td>
                <td>
                  <%= client.country %>
                </td>
                <td>
                  <%= client.state %>
                </td>
                <td>
                  <%= client.city %>
                </td>
                <td>
                  <%= client.zip %>
                </td>
                <td>
                  <%= client.id %>
                </td>
                <td>
                  <%= client.tenant_id %>
                </td>
                <td>
                  <%= client.created_at %>
                </td>
                <td>
                  <%= link_to client_path(client), method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <%= image_tag 'delete_icon.png' , alt: 'Delete' , width: 20 %>
                      <% end %>
                </td>
              </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    </div> -->