<div>

  <h1 class="display-5" style="padding-bottom:20px"><strong>Hello <%= @client.first_name + " " + @client.last_name %>! Welcome to ARIA Training</strong></h1>
</div>
<div>
              <button class="btn btn-primary rounded-pill btn-block btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                Review Test Results
                </button>
                 <div class="dropdown-menu">  

                  <a class="dropdown-item">
    <table id="tableID">
      <thead>
        <tr>
          
          <th>Test Giver</th>
          <th>Test Type</th>
          <th>Left Score</th>
          <th>Right Score</th>
          <th>Ear Advantage</th>
          <th>Ear Advantage Score</th>

        </tr>
      </thead></a>
       <a class="dropdown-item"> 
        <% @client.dwt_tests.each do |dwt_test, index| %>
          <tr>
               
            <td><%= dwt_test.user.fname %> <%= dwt_test.user.lname %></td>
            <td><%= dwt_test.test_type %></td>
            <td><%= dwt_test.left_score %></td>
            <td><%= dwt_test.right_score %></td>
            <td><%= dwt_test.ear_advantage %></td>
            <td><%= dwt_test.ear_advantage_score %></td>
          </tr>
        <% end %> </a>
       <a class="dropdown-item"> 
        <% @client.dnw_tests.each do |dnw_test, index| %>
          <tr>
            <td><%= dnw_test.user.fname %> <%= dnw_test.user.lname %></td>
            <td><%= dnw_test.test_type %></td>
            <td><%= dnw_test.left_score %></td>
            <td><%= dnw_test.right_score %></td>
            <td><%= dnw_test.ear_advantage %></td>
            <td><%= dnw_test.ear_advantage_score %></td>
          </tr>
        <% end %></a>
     <a class="dropdown-item"> 
       <% @client.rddt_tests.each do |rddt_test, index| %>
          <tr>
            <td><%= rddt_test.user.fname %> <%= rddt_test.user.lname %></td>
            <td><%= rddt_test.test_type %></td>
            <td><%= rddt_test.left_score2 %></td>
            <td><%= rddt_test.right_score2 %></td>
            <td><%= rddt_test.ear_advantage %></td>
            <td><%= rddt_test.ear_advantage_score %></td>
          </tr>
        <% end %></a>
          </table>
        </div>


<div class="justify-content-center mt-3">
   <div class="dropdown-item">
    <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#weekOneResultsTable">
      Week One Results
    </button> 
    <div class="collapse table-responsive" id="weekOneResultsTable">
    <table id="tableID">
      <thead>
        <tr>
          <th>ID</th>
          
          <th>Test Giver</th>
          <th>Test Type</th>
          <th>Left Score</th>
          <th>Right Score</th>
          <th>Ear Advantage</th>
          <th>Ear Advantage Score</th>

        </tr>
      </thead>
      <tbody>
        <% @client.week_ones.each do |week_one| %>
          <tr>
            <td><%= week_one.id %></td>
            <td><%= week_one.client.full_name %></td>
            <td><%= week_one.test_type %></td>
            <td><%= week_one.left_score %></td>
            <td><%= week_one.right_score %></td>
            <td><%= week_one.ear_advantage %></td>
            <td><%= week_one.ear_advantage_score %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>

<div class="justify-content-center mt-3">
   <div class="dropdown-item">
    <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#weekTwoResultsTable">
      Week Two Results
    </button> 
    <div class="collapse table-responsive" id="weekTwoResultsTable">
    <table id="tableID">
      <thead>
        <tr>
          <th>ID</th>
          
          <th>Test Giver</th>
          <th>Test Type</th>
          <th>Left Score</th>
          <th>Right Score</th>
          <th>Ear Advantage</th>
          <th>Ear Advantage Score</th>

        </tr>
      </thead>
      <tbody>
        <% @client.week_twos.each do |week_two| %>
          <tr>
            <td><%= week_two.id %></td>
            <td><%= week_two.client.full_name %></td>
            <td><%= week_two.test_type %></td>
            <td><%= week_two.left_score %></td>
            <td><%= week_two.right_score %></td>
            <td><%= week_two.ear_advantage %></td>
            <td><%= week_two.ear_advantage_score %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>


<div class="justify-content-center mt-3">
  <div class="dropdown-item">
    <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#weekThreeResultsTable">
      Week Three Results
    </button>
    <div class="collapse table-responsive" id="weekThreeResultsTable">
    <table id="tableID">
      <thead>
        <tr>
          <th>ID</th>
          
          <th>Test Giver</th>
          <th>Test Type</th>
          <th>Left Score</th>
          <th>Right Score</th>
          <th>Ear Advantage</th>
          <th>Ear Advantage Score</th>

        </tr>
      </thead>
      <tbody>
        <% @client.week_threes.each do |week_three| %>
          <tr>
            <td><%= week_three.id %></td>
            <td><%= week_three.client.full_name %></td>
            <td><%= week_three.test_type %></td>
            <td><%= week_three.left_score %></td>
            <td><%= week_three.right_score %></td>
            <td><%= week_three.ear_advantage %></td>
            <td><%= week_three.ear_advantage_score %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
</div>   
</div>

</div>
</div>

<div class="justify-content-center mt-3">
  <div class="dropdown-item">
    <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#weekFourResultsTable">
      Week Four Results
    </button>
    <div class="collapse table-responsive" id="weekFourResultsTable">
    <table id="tableID">
      <thead>
        <tr>
          <th>ID</th>
          
          <th>Test Giver</th>
          <th>Test Type</th>
          <th>Left Score</th>
          <th>Right Score</th>
          <th>Ear Advantage</th>
          <th>Ear Advantage Score</th>

        </tr>
      </thead>
      <tbody>
        <% @client.week_fours.each do |week_four| %>
          <tr>
            <td><%= week_four.id %></td>
            <td><%= week_four.client.full_name %></td>
            <td><%= week_four.test_type %></td>
            <td><%= week_four.left_score %></td>
            <td><%= week_four.right_score %></td>
            <td><%= week_four.ear_advantage %></td>
            <td><%= week_four.ear_advantage_score %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="mt-3">
    
  </div>

</div>   
</div>
<div class="mt-3">
    <%= link_to "Week One", week_one_test_one_client_week_ones_path(@client) %>
    <%= link_to "Week Two", week_two_test_one_client_week_twos_path(@client) %>
    <%= link_to "Week Three", week_three_test_one_client_week_threes_path(@client) %>
    <%= link_to "Week Four", week_four_test_one_client_week_fours_path(@client) %>
  </div>
<div>
  <%= link_to 'Go back to Client information page', edit_client_path(@client), class: 'btn btn-outline-primary' %> </div> 
  <%= link_to "Start Training",  week_one_test_one_client_week_ones_path(@client), class: "btn btn-secondary"%>
</div>