<body id="defBG">
   <div class="card text-center mb-3 border-0", style="padding-top:25px">
  <img class="card-img-top">
    <%= image_tag 'AIDA_RGB.png', class: ' d-block m-auto' , style: ' max-width: 50rem;'%>
  <div class="card-body">
    <h5 class="card-title text-center"></h5>
    <p>
    <% if user_signed_in? %>
      <h1 class= "card-title display-6", style= 'padding-bottom:20px'> <strong> Hello <%= current_user.fname + " " + current_user.lname%>! </strong> </h1>
    <% else %>
      <h1 class= "card-title display-6"> <strong><%= link_to 'Sign in before using features', new_user_session_path, class: " nav-link #{active_class(new_user_session_path)}"%></strong></h1>
    <% end %>
   </p>

   <div class="card-deck", style= 'padding-top:30px'>
  
    <div id="blueGrad2" class="card text-white bg-info border-0 border-radius">
      <img class="card-img-top">
      <%= image_tag 'headphones.png', class: ' d-block m-auto' , style: ' max-width: 15rem;'%>
      <div class="card-body">
      <% if user_signed_in? %>
        <h5 class="card-title"><strong><%= link_to 'Go to Clients', current_user.global_moderator? ? global_moderator_index_path : clients_path, class: 'btn rounded-pill btn-primary btn-lg border-0'%></strong></h5>
      <% else %>
        <h5 class="card-title"><strong><%= link_to 'Go to Clients', new_user_session_path, class: 'btn rounded-pill btn-primary btn-lg border-0'%></strong></h5>
      <% end %>  

        <p class="card-text">Go here to add or edit clients, as well as perform tests </p>
      </div>
    </div>
    
    <div class="card bg-secondary border-0">
      <img class="card-img-top">
      <%= image_tag 'AUDIA_RGB_LOGO_w.png', class: ' d-block m-auto' , style: ' max-width: 20rem;'%>
      <div class="card-body">
        <h5 class="card-title"><a href="https://www.dichoticsinc.com/" class="btn rounded-pill btn-lg btn-primary border-0">Go to Website</a></h5>
        <p class="card-text">Have questions about the software, pricing, or amblyaudia? Visit our Website!</p>
      </div>
    </div>

    <div class="card text-white bg-info border-0">
      <img class="card-img-top">
      <%= image_tag 'user.png', class: ' d-block m-auto' , style: ' max-width: 15rem;'%>
      <div class="card-body">
        <% if user_signed_in? %>
          <h5 class="card-title"><%= link_to 'Go to Users', users_path, class: 'btn rounded-pill btn-lg btn-primary border-0'%></h5>
        <% else %>
          <h5  class="card-title"><%= link_to 'Go to Users', new_user_session_path, class: 'btn rounded-pill btn-lg border-0'%></h5>
        <% end %>
        <p class="card-text">Go here to to view all users, as well as login as a user.</p>
      </div>
    </div>
  </div>

  </div>
</div>
</body>
