<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="form-group row">
        <label for="exampleLabel">Label</label>
        <input class="form-control" type="text" id="exampleLabel" value="Dwt List One">
      </div>
      <div class="form-group row">
        <label for="testType">User</label>
        
      </div>
      <div class="form-group row">
        <label for="testType">Type</label>
        <input class="form-control" type="text" id="testType" placeholder="DWT" readonly>
      </div>
      <hr/>
      <div class="form-group row">
        <label for="conditionSelect">Condition</label>
        <select class="form-control" id="conditionSelect">
          <option>DirectedLeft</option>
          <option>DirectedRight</option>
          <option>FreeRecall</option>
        </select>
      </div>
      <%= button_tag "Switch left/right", :onclick => "hideInput()" %>
      <hr/>
      <label for="Notes">Notes</label>
      <textarea class="form-control" id="Notes" rows="3"></textarea>
      <hr/>
      <audio controls>
        <source src="assets/Track 02 Dichotic Words Test Track 1.mp3" type="audio/mpeg">
      </audio>
      <hr/>
      <p>Scores ( * outside typical limits):</p>

      <table class="table table-sm table-bordered m1-4" style="max-width: 25rem;">
        <thead>
          <tr>
            <th scope="col">Pairs</th>
            <th scope="col">Left</th>
            <th scope="col">Right</th>
            <th scope="col">Ear Adv</th>
          </tr>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><span id="column1-percent">0</span>%</p></td>
              <td><span id="column2-percent">0</span>%</td>
              <td><span id="advantage-Diff">0</span>%</td>
            </tr>
            <tr>
              <th scope="row">2</th>
            </tr>
            <tr>
              <th scope="row">3</th>           
            </tr>
          </tbody>
        </thead>
      </table>
      <label for="read-Only">Ear Advantage</label>
      <input class="form-control" type="text" id="read-Only" value="" readonly>
      <span hidden id="advantage-Name"></span>
      <label for="read-Only">Interpretation</label>
      <input class="form-control" type="text" id="read-Only-diag" value="" readonly>
      <span hidden id="Diagnosis"></span>
    </div>

    
    <div class="col-sm">
      <%= form_tag test_path do %>
        <table class="table table-sm table-striped ml-4" style="max-width: 25rem;">
          <thead class="thead-dark">
            <tr>
              <th>Number</th>
              <th>Left</th>
              <th>Right</th>
            </tr>
          </thead>
          <tbody>
            <% 25.times do |i| %>
              <% words = [
                ["Fun", "Pig"],
                ["Vine", "Sheep"],
                ["Cake", "Buy"],
                ["Round", "Storm"],
                ["Say", "Tan"],
                ["Yes", "Fast"],
                ["Pen", "Most"],
                ["Bet", "One"],
                ["Green", "Booth"],
                ["Store", "Glass"],
                ["Soap", "Teeth"],
                ["Bring", "Share"],
                ["Rug", "Book"],
                ["Want", "Soft"],
                ["Tow", "Kite"],
                ["Why", "Quack"],
                ["Comb", "For"],
                ["That", "Love"],
                ["Bug", "Wet"],
                ["Quiz", "Juice"],
                ["Camp", "Light"],
                ["Hand", "Goose"],
                ["Lip", "Dad"],
                ["Fall", "Room"],
                ["Old", "Chef"]
                ] %>
              <tr>
                <td><%= i + 1 %></td>
                <td>
                  <div class="btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-primary column1-button">
                      <input type="checkbox" name="column1[<%= i %>][]" value="1"> <%= words[i][0] %>
                    </label>
                  </div>
                </td>
                <td>
                  <div class="btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-primary column2-button">
                      <input type="checkbox" name="column2[<%= i %>][]" value="1"> <%= words[i][1] %>
                    </label>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

    <div>
      <p><span hidden id="column1-count"></span></p>
      <p><span id="column1-percent"></span></p>
      <p><span hidden id="column2-count"></span></p>
      <p><span id="column2-percent"></span></p>
      <p><span id="advantage-Diff"></span></p>
    </div>
    <p>Date of Birth: <%= @dob %></p>

    <script>
      // Get the toggle buttons and count elements
      const column1Buttons = document.querySelectorAll(".column1-button input[type='checkbox']");
      const column2Buttons = document.querySelectorAll(".column2-button input[type='checkbox']");
      const allButtons = document.querySelectorAll(".column1-button input[type='checkbox'], .column2-button input[type='checkbox']");
      const column1Count = document.getElementById("column1-count");
      const column2Count = document.getElementById("column2-count");
      const column1Percent = document.getElementById("column1-percent");
      const column2Percent = document.getElementById("column2-percent");
      const advantageDiff = document.getElementById("advantage-Diff");
      const advantageName = document.getElementById("advantage-Name");
      const testDiagnosis = document.getElementById("Diagnosis");
      const readOnly = document.getElementById("read-Only");
      const readOnlyDiag = document.getElementById("read-Only-diag");


      // Update the counts when a button is clicked
      
      allButtons.forEach(function(button) {
        button.addEventListener("click", function() {
        const checkedCount1 = document.querySelectorAll(".column1-button input[type='checkbox']:checked").length;
        const checkedCount2 = document.querySelectorAll(".column2-button input[type='checkbox']:checked").length;
        const totalCount1 = column1Buttons.length;
        const totalCount2 = column2Buttons.length;
        const percent1 = ((checkedCount1 / totalCount1) * 100).toFixed(2);
        const percent2 = ((checkedCount2 / totalCount2) * 100).toFixed(2);
        const advantage = (percent1 - percent2).toFixed(2);
        const avgPercent = ((+percent1 + +percent2) / 2).toFixed(2);
        let direction = null;
        let interpretation = null;
        let age = 12;
        let dom = null;
        let nondom = null;

        if (advantage > 0) {
          direction = "Left";
          dom = percent1;
          nondom = percent2;
        } else if (advantage < 0) {
          direction = "Right";
          dom = percent2;
          nondom = percent1;
        } else {
          direction = "Neutral";
          
        }

        if (age == 5 || age == 6){
          if (direction == "Neutral"){
            if (percent1 <= 44){
              interpretation = "Dichotic Dysaudia";
            }
            else{
              interpretation = "Within Normal Limits";
            }
          }
          else{
            if (((dom <= 64) || (nondom <= 44)) && ((advantage <= -32) || (advantage >= 32))){
              interpretation = "Amblyaudia + Dichotic Dysaudia";
            }
            else if ((dom <= 64) || (nondom <= 44)){
              interpretation = "Dichotic Dysaudia";
            }
            else if (((dom > 64) && (nondom > 44)) && (advantage <= -32)){
              interpretation = "Ambylaudia Right Ear Dominant";
            }
            else if (((dom > 64) && (nondom > 44)) && (advantage >= 32)){
              interpretation = "Ambylaudia Left Ear Dominant";
            }
            else{
              interpretation = "Within Normal Limits";
            }
          }            
        }
        if (age >= 7 && age <= 9){
          if (direction == "Neutral"){
            if (percent1 <= 60){
              interpretation = "Dichotic Dysaudia";
            }
            else{
              interpretation = "Within Normal Limits";
            }
          }
          else{
            if (((dom <= 76) || (nondom <= 60)) && ((advantage <= -24) || (advantage >= 24))){
              interpretation = "Amblyaudia + Dichotic Dysaudia";
            }
            else if ((dom <= 76) || (nondom <= 60)){
              interpretation = "Dichotic Dysaudia";
            }
            else if (((dom > 76) && (nondom > 60)) && (advantage <= -24)){
              interpretation = "Ambylaudia Right Ear Dominant";
            }
            else if (((dom > 76) && (nondom > 60)) && (advantage >= 24)){
              interpretation = "Ambylaudia Left Ear Dominant";
            }
            else{
              interpretation = "Within Normal Limits";
            }
          }          
        }
        if (age >= 10 && age <= 12){
          if (direction == "Neutral"){
            if (percent1 <= 72){
              interpretation = "Dichotic Dysaudia";
            }
            else{
              interpretation = "Within Normal Limits";
            }
          }
          else{
            if (((dom <= 84) || (nondom <= 72)) && ((advantage <= -20) || (advantage >= 20))){
              interpretation = "Amblyaudia + Dichotic Dysaudia";
            }
            else if ((dom <= 84) || (nondom <= 72)){
              interpretation = "Dichotic Dysaudia";
            }
            else if (((dom > 84) && (nondom > 72)) && (advantage <= -20)){
              interpretation = "Ambylaudia Right Ear Dominant";
            }
            else if (((dom > 84) && (nondom > 72)) && (advantage >= 20)){
              interpretation = "Ambylaudia Left Ear Dominant";
            }
            else{
              interpretation = "Within Normal Limits";
            }
          }
        }
        if (age >= 13 && age <= 15){
          if (direction == "Neutral"){
            if (percent1 <= 76){
              interpretation = "Dichotic Dysaudia";
            }
            else{
              interpretation = "Within Normal Limits";
            }
          }
          else{
            if (((dom <= 92) || (nondom <= 76)) && ((advantage <= -16) || (advantage >= 16))){
              interpretation = "Amblyaudia + Dichotic Dysaudia";
            }
            else if ((dom <= 92) || (nondom <= 76)){
              interpretation = "Dichotic Dysaudia";
            }
            else if (((dom > 92) && (nondom > 76)) && (advantage <= -16)){
              interpretation = "Ambylaudia Right Ear Dominant";
            }
            else if (((dom > 92) && (nondom > 76)) && (advantage >= 16)){
              interpretation = "Ambylaudia Left Ear Dominant";
            }
            else{
              interpretation = "Within Normal Limits";
            }
          }          
        }
        if (age >= 16 && age <= 18){
          if (direction == "Neutral"){
            if (percent1 <= 80){
              interpretation = "Dichotic Dysaudia";
            }
            else{
              interpretation = "Within Normal Limits";
            }
          }
          else{
            if (((dom <= 88) || (nondom <= 80)) && ((advantage <= -14) || (advantage >= 14))){
              interpretation = "Amblyaudia + Dichotic Dysaudia";
            }
            else if ((dom <= 88) || (nondom <= 80)){
              interpretation = "Dichotic Dysaudia";
            }
            else if (((dom > 88) && (nondom > 80)) && (advantage <= -14)){
              interpretation = "Ambylaudia Right Ear Dominant";
            }
            else if (((dom > 88) && (nondom > 80)) && (advantage >= 14)){
              interpretation = "Ambylaudia Left Ear Dominant";
            }
            else{
              interpretation = "Within Normal Limits";
            }
          }          
        }

        
        column1Count.innerText = checkedCount1.toString();
        column1Percent.innerText = percent1.toString();
        column2Count.innerText = checkedCount2.toString();
        column2Percent.innerText = percent2.toString();
        advantageDiff.innerText = advantage.toString();
        advantageName.innerText = direction;
        testDiagnosis.innerText = interpretation;
        readOnly.value = advantageName.innerText;
        readOnlyDiag.value = testDiagnosis.innerText;
        })
      })
      

    </script>
  </div>
</div>