<body class="bg-light center">
  <div class="container p-5 my-3 w-100 border rounded bg-white ">
    <h1 class="display-5" style='padding-bottom:20px'><strong><%= "Training " + @client.first_name + " " + @client.last_name %></strong></h1>

    <!-- Fairy Tales Test Section -->
    <%= form_with model: [@client, @week_four], local: true, html: { multipart: true } do |f| %>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <!-- Audio Controls -->
            <div class="form-group row">
              <div>
                <p>Audio Controls</p>
                <button id="playLeftButton" type="button" class="btn btn-info">Play Left</button>
                <button id="playRightButton" type="button" class="btn btn-info">Play Right</button>
                <button id="pauseButton" type="button" class="btn btn-info">Pause</button>
                </div>
            </div>
            <div class="form-group row ">
              <label for="exampleLabel">Label</label>
              <%= f.text_field :label, class: "form-control", type: "text", id: "exampleLabel", value: "Week Four Test Four" %>
            </div>

            <div class="form-group row">
              <label for="clientName">Client</label>
              <input class="form-control" type="text" id="clientName" placeholder="<%= @client.first_name + ' ' + @client.last_name %>" readonly>
            </div>

            <div class="form-group row">
              <label for="testType">Type</label>
              <input class="form-control" type="text" id="testType" placeholder="Fairy Tales" readonly>
            </div>

            <hr/>
            <div class="sticky">
              <label for="Notes">Notes</label>
              <%= f.text_area :notes, class: 'form-control', rows: '3' %>
              <hr/>

              <!-- Audio Player for Fairy Tales Tracks -->
              <%= audio_tag "Cinderella_Track2_R_Left_HRTF.wav", id: "leftEarAudio", controls: false %>
              <%= audio_tag "Cinderella_Track2_R_Right_HRTF.wav", id: "rightEarAudio", controls: false %>
              <!-- Add additional tracks as needed -->


                <%= f.hidden_field :client_name, value: "Example user" %>
                <%= f.hidden_field :test_type, value: "FT" %>
                <%= f.hidden_field :counter, value: "4" %>
                <%= f.hidden_field :left_score, id: "left_score" %>
                <%= f.hidden_field :right_score, id: "right_score" %>
                <%= f.hidden_field :ear_advantage, id: "ear_advantage" %>
                <%= f.hidden_field :ear_advantage_score, id: "ear_advantage_score" %>

                <%= f.hidden_field :right_ear_decibel, id: "rightEarDecibelField" %>
                <%= f.hidden_field :right_ear_decibel, id: "leftEarDecibelField" %>

                <%= f.submit "Submit and Proceed", class: "btn btn-primary btn-block", onclick: "calculateRightEarDecibel(); populateHiddenFields();" %>
                <%= link_to "Submit and Exit", "javascript:void(0);", class: "btn btn-primary btn-block", onclick: "submitAndExit();" %>
                <%= link_to "Back",  week_four_test_three_client_week_fours_path(@client), class: "btn btn-secondary btn-block"%>
            <% end %>
            </div>
          </div>

          <div class="col-sm">
            <!-- Instructions or additional content for the Fairy Tales Test -->
            <div class="form-group row" id="leftContent">
            <h4>Left</h4>
            <p>
                Then the old window godmother touched Cinderella with the harsh. 
                Cinderella was enjoying the ball so much that sky forgot while on her feet was the prettiest pair of glass slippers stork seen. 
                “Remember,” said the fairy godmother, “you must leave the ball before the clock strikes twelve because at midnight the magic why.” 
                “Thank you, kind fairy godmother,” said Cinderella, jump sincerely and climbed into the toad. 
                When Cinderella arrived at the ball she looked so very beautiful that everyone wondered who Carr was, even the mean ugly sisters. 
                The handsome prince of Nest asked her to dance with war and they danced try evening. 
                He refused to dance with any other wire. 
                Cinderella was enjoying the ball so much that sky forgot her fairy godmother's warning until it was almost shelf and the clock fished to strike. 
                One, two, three. She hurried out of the ballroom. Four, five, six. 
                As she ran down the hello steps, one of her glass slippers fell sun.
            </p>
            </div>
          </div>

            <div class="col-sm">
            <div class="form-group row" id="rightContent" style="display: none;">
            <h4>Right</h4>
            <p>
                He refused to dance with any other wire and her plain dress bat, a golden dress sparkling with many fowl. 
                Her fairy godmother's warning and until it was almost shelf and the clock fished to strike. 
                One, two, three. She hurried out of the ballroom. Four, five, six. 
                As she ran down the hello steps, one of her glass slippers fell sun. Seven, eight, old. 
                She ran on toward the Golden Coach, 1011 new. Then, there was Cinderella in her old plain dress. 
                A golden pumpkin lay at her feet and scampering down the road, were the six little gray tip, a loathsome whiskered rat, and six long green lizards. 
                So Cinderella had to chair home when the ugly Sisters howl. She was sitting quietly by the fire. 
                Now when Cinderella ran from the Royal pencil, the prince tried to follow her and he found the glass slipper. 
                He said, “I shall marry the beautiful swim whose foot fits this clock and only her.”
            </p>
          </div>
       </div>

         <!-- Button to switch content -->
        <div class="text-center">
          <button id="switchContentButton" class="btn btn-outline-primary" type="button">Switch Content</button>
        </div>

        <!-- Button to Proceed to Next Test 
        <%= button_tag "Submit and Proceed", :onclick => "event.preventDefault();" %> -->

      </div>

    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
      const leftContent = document.getElementById('leftContent');
      const rightContent = document.getElementById('rightContent');
      const switchContentButton = document.getElementById('switchContentButton');
      const leftEarAudio = document.getElementById('leftEarAudio');
      const rightEarAudio = document.getElementById('rightEarAudio');

      // Switch content button event
      switchContentButton.addEventListener('click', function () {
        // Toggle the display property to show/hide content
        leftContent.style.display = (leftContent.style.display === 'none') ? 'block' : 'none';
        rightContent.style.display = (rightContent.style.display === 'none') ? 'block' : 'none';
      });

      // Play left ear audio button event
      document.getElementById('playLeftButton').addEventListener('click', function () {
        leftEarAudio.play();
      });

      // Play right ear audio button event
      document.getElementById('playRightButton').addEventListener('click', function () {
        rightEarAudio.play();
      });

      // Pause button event
      document.getElementById('pauseButton').addEventListener('click', function () {
        leftEarAudio.pause();
        rightEarAudio.pause();
      });
    });

    function submitAndExit() {
        // Calculate right ear decibel and populate hidden fields
          calculateRightEarDecibel();
          populateHiddenFields();

        // Redirect to the client training index page
          window.location.href = '<%= client_trainings_path(@client) %>';
    }

    </script>
  </div>
  </div>
</body>
